<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Music Player</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="./style.css" />
</head>

<body>
    <article class="screen">
        <input type="checkbox" value="None" id="magicButton" name="check" />
        <label class="main" for="magicButton"></label>

        <div class="coverImage"></div>
        <div class="search">
            <div class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="search-input-container"></div>
            <div class="profile-icon">
                <i class="fa-solid fa-user"></i>
                <div class="profile-icon-inner"></div>
                <div class="dropdown-content">
                    <a href="/profile">Username</a>
                    <a href="/settings">Settings</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>

        <div class="bodyPlayer"></div>

        <div class="shadow"></div>

        <div class="bar"></div>

        <div class="info">
            <h4>Sang Rahiyo</h4>
            <!-- <h3>twenty one pilots - Blurryface</h3> -->
        </div>



        <% songs.forEach(function(song) { %>
            <div>


                <p>
                    <%= song.songname %>
                </p>
                <p>Category: <%= song.songcategory %>
                </p>
                <p>Duration: <%= song.songduration %>
                </p>
                <p>Artist: <%= song.songartist %>
                </p>


                <table class="player">
                    <td><input type="checkbox" id="backward" /><label class="backward" for="backward"></label></td>
                    <td><input type="checkbox" id="play" title="Play" /></label><i class="fa-solid fa-play"
                            id="playbutton11" data-songid="<%= song._id %>"></i><label class="play" for="play"></i><i
                                class="fa-solid fa-pause" id="pausebutton11"></i>
                    </td>
                    <td><input type="checkbox" id="forward" /><label class="forward" for="forward"></label></td>
                </table>
            </div>
            <% }) %>




                <audio id="audio-player" controls style="display:none;"></audio>

                <table class="footer">
                    <tr>
                        <td>
                            <input type="checkbox" id="love<%= i %>" checked /><label class="love"
                                for="love<%= i %>"></label>
                        </td>
                        <td>
                            <input type="checkbox" id="shuffle<%= i %>" /><label class="shuffle"
                                for="shuffle<%= i %>"></label>
                        </td>
                        <td>
                            <input type="checkbox" id="repeat<%= i %>" checked /><label class="repeat"
                                for="repeat<%= i %>"></label>
                        </td>
                        <td>
                            <input type="checkbox" id="options<%= i %>" /><label class="options"
                                for="options<%= i %>"></label>
                        </td>
                    </tr>
                </table>

                <div class="current"></div>
                <% } %>
                    </div>
    </article>

    <!-- partial -->
    <!-- <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script> -->
    <script src="./script.js"> </script>

</body>

</html>